@import "tailwindcss";

:root {
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  height: 100vh;
  width: 100vw;
}

/* Monaco Editor 高亮样式 */
.highlighted-line {
  background-color: rgba(255, 237, 74, 0.4);
}

.highlighted-glyph {
  background-color: #fbbf24;
  margin-left: 3px;
  width: 4px !important;
  border-radius: 2px;
}
